h1,
h2,
h3,
h4,
h5 {
  color: #222;
  text-shadow: -1px -1px #444;
  font-weight: 900;
}

.col1 {
  grid-column: 1/1;
  grid-row: 1/1;
}
.col2 {
  grid-column: 2/2;
  grid-row: 1/1;
}
.col3 {
  grid-column: 3/3;
  grid-row: 1/1;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    margin-top: 2.5vmin;
    margin-bottom: 1vmin;
  }
}

button {
  cursor: pointer;
  padding: 2ch;
  background: #aaa;
  border: 0;
  border-radius: 1ch;

  &:hover {
    background: #fff;
  }

  &:active {
    background: #222;
  }
  transition: all 0.1s ease-out;
}

a {
  color: #61dafb;
}

.error {
  font-size: 1ch;
  color: red;
  padding: 0;
  margin: 0;
}

.funds,
.transactions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // height: 50vh;
}

nav {
  padding-top: 2ch;
  padding-bottom: 2ch;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #111a;
}

.totals {
  z-index: 9;
  .above {
    margin-top: 5ch;
  }
  .bottom {
    margin-bottom: 5ch;
  }
}

.login {
  color: #ccc;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;

    label {
      input {
        margin-left: 2ch;
      }
    }
  }
  display: flex;
  flex-direction: column;
  width: 70vmin;
  height: 70vmin;
  margin: auto;
  background: #222;
}

.todo {
  color: #111a;
}

.dank-form {
  display: flex;
  flex-direction: column;
  background: #1115;
  border: 1ch #1117 solid;
  padding: 3ch;
  border-radius: 1ch;
  label {
    margin: 0.5ch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      margin-left: 2ch;
    }
  }

  h3 {
    color: #666;
  }

  button {
    margin: 4ch 1ch;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #111a;
  padding: 0 2ch;
  font-size: 10pt;

  display: flex;
  flex-direction: row;

  p {
    margin: 1ch;
  }
}
