.fundbar {
  cursor: pointer;
  border-radius: 1ch;
  text-align: center;
  margin: auto 2ch 0 2ch;

  &.totals {
    pointer-events: none;
    margin-top: 2ch;
  }

  h3 {
    margin: auto auto 0 auto;
  }

  &.front {
    pointer-events: none;
    transition: all 0.2s ease-out;
    border: 2px solid #222a;
    display: flex;
    flex-direction: column;
    padding: 2ch;
    color: #333;
    text-shadow: 2px 2px #2223, -1px -1px #fffa;
  }

  &.back {
    background: #222;

    border: 4px solid #3334;
    height: 50vh;
  }
}
