.status {
  position: absolute;
  left: 1ch;
  bottom: 4ch;
  padding: 1ch 2ch;
  border-radius: 1ch;

  transition: all 0.2s ease-in-out;

  &.error {
    color: #ffffff;
    background: #b40303;
    opacity: 1;
  }

  &.good {
    color: #ffffff;
    background: #009b46;
    opacity: 1;
  }

  &.off {
    opacity: 0;
  }
}
